* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(159, 163, 164);
}

h1{
    margin: 1rem 0 0.5rem 0;
    color: rgb(250, 212, 0);
}

h2{
    color: #5b5b5b;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.batman{
    /* posicionamiento */
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    /* estilo */
    min-width: 700px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/batmanOFF.jpg);
    cursor: pointer;
    margin-top: 1rem;
}

.batman_activo{
    background-image: url(../img/batmanON.gif);
}

.bati_boton{
    margin: 288px auto 0;
    width: 30px;
    height: 50px;
    border: 1px solid red;
    border-radius: 5px;
}